{% include "header.html" %}

  <div class="row">
    <div class="col-md-3 col-10 container1">

      <form method="post" action="{{ url_for('home') }}" novalidate>
        <div class="form-group">
          <label for="user_name">姓名</label>
          <input type="text" class="form-control" name="user_name" id="user_name">
        </div>
        <div class="form-group">
          <label for="user_section">部门/学院</label>
          <input type="text" class="form-control" name="user_section" id="user_section">
        </div>
        <div class="form-group">
          <label for="user_phone">联系电话</label>
          <input type="text" class="form-control" name="user_phone" id="user_phone">
        </div>
        <div class="form-group">
          <label for="yanxiushi">选择研修室</label>
          <select class="form-control" name="yanxiushi" id="yanxiushi">
            <option>研修室1</option>
            <option>研修室2</option>
            <option>研修室3</option>
            <option>研修室4</option>
          </select>
        </div>
        <div class="form-group">
          <label for="start_date">开始日期</label>
          <input type="date" class="form-control"  name="start_date" id="start_date">
        </div>
        <div class="form-group">
          <label for="end_date">结束日期</label>
          <input type="date" class="form-control"  name="end_date" id="end_date">
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
         <p class="feedback">{{ message }}</p> 
        {% endfor %}
        {% endif %}
        {% endwith %}

        <button type="submit" class="btn btn-primary btn-block">提交申请</button>
      </form>
    </div>
  </div>


<script>
  function getDate() {
    var today = new Date();
    var dd = today.getDate() +1;
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
  
    if(dd<10) {
        dd = '0'+dd
    } 
  
    if(mm<10) {
        mm = '0'+mm
    } 
  
    today = yyyy + '-' + mm + '-' + dd;
    console.log(today);
    document.getElementById("start_date").value = today;
    document.getElementById("end_date").value = today;
  }
  
  
  window.onload = function() {
    getDate();
  };
</script>


  {% include "footer.html" %}

